.box{
    height: 70px;
    background-color: rgb(26, 66, 229);
    width: 330px;
    border-radius: 10px;
    margin-left: 10px;
}

.txt{
    font-size: 20px;
    color: white;
    margin-left: 15px;
}