@media (min-width: 1200px) and (max-width: 2222px) {
    .img{
        margin-left: 5px;
    }

    .txt{
        margin-left: 1090px;
        font-size: 22px;
        margin-top: -520px;

    }


    .img3{
        margin-left: 5px;
    }

    
    .logo{
        border-radius: 19px;
        cursor: pointer;
        transform: translateY(-850px);
        margin-left: 10px;   
        width: 150px;
        height: 115px;
        border-radius: 20px;
    }
}


@media (min-width: 220px) and (max-width: 950px){


    .logo{
        border-radius: 19px;
        cursor: pointer;
        transform: translateY(-880px);
        margin-left: 5px;   
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }

    .content{
        margin-top: -850px;
        color: white;
    }

    .saba{
        color: rgb(255, 255, 255);
        font-size: 50px;
        margin-top: 10px;
    }


    .box{
        font-size: 12px;
    }

    .txt{
        color: white;
    }
}



