@media (min-width: 1200px) and (max-width: 2222px) {
    .nav{
        transform: translateY(-25px); 
        
        --bar-width: 0px;
        --bar-height: 0px;
        --hamburger-gap: 0px;
        --foreground: gold;
        --background: white;
        --hamburger-margin: 0px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    }

    .content1st{
        margin-top: -675px;
    }

    .box7{
        margin-left: 10px;
    }

}


@media (min-width: 220px) and (max-width: 950px) {
    .nav{
        transform: translateY(-140px);

        --bar-width: 60px;
        --bar-height: 8px;
        --hamburger-gap: 6px;
        --foreground: gold;
        --background: white;
        --hamburger-margin: 8px;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    }

    .box{
        margin-top: 160px;
    }
    .txt{
        margin-left: 50px;
        color: white;
        font-size: 23px;
    }
  

}