

.card{
    width: 390px;
    height: 160px;
    background-color: goldenrod;
    margin-left: 20px;
    margin-top: 25px;
    /* background-color: cornflowerblue; */
}

.txt{
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.price{
    text-align: center;
    font-size: 23px;
}



/************************************ MEDIA QUERT CONYENT ***********************************/

@media (min-width: 220px) and (max-width: 950px){
    .card{
        width: 370px;
        height: 160px;
        background-color: goldenrod;
        margin-left: 10px;
        margin-top: 25px;
        /* background-color: cornflowerblue; */
    }
    
    .txt{
        text-align: center;
        font-size: 23px;
        color: rgb(255, 255, 255);
    }

    .price{
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }


}

