@media (min-width: 1200px) and (max-width: 2222px){


    .txt{
        font-size: 25px;
        font-weight: 700;
        margin-right: 30px;
        display: inline-block;
    }


    .contentcontainer{
        /* background-color: rgb(15, 39, 173); */
        background-color: goldenrod;
        color: aliceblue;
        height: 100px;
        /* background-color: cornflowerblue; */

    }

    .txt2{
        font-size: 40px;
        font-weight: 700;
        margin-left: 170px;
    }




}



/************************************ MEDIA QUERT CONYENT ***********************************/

@media (min-width: 220px) and (max-width: 950px){
    .contentcontainer{
        /* background-color: cornflowerblue; */
        color: cornflowerblue;
        font-size: 0px;

    }

}

